colorama==0.4.4
cycler==0.11.0
flake8==4.0.1
fonttools==4.33.3
geographiclib==1.52
geopy==2.2.0
kiwisolver==1.4.2
matplotlib==3.5.2
mccabe==0.6.1
mysql-connector-python==8.0.29
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
protobuf==3.20.1
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.8
python-dateutil==2.8.2
python-dotenv==0.20.0
scipy==1.8.0
six==1.16.0
tqdm==4.64.0
